@use "../styles/partial/variables" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.bg-black {
  background-color: #000;
}

.bg-primary {
  background-color: $primaryCl;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
  padding: 0 !important;
}
